/*
Colors used:
Primary Color (Dark Grey): #2B2A2A;
Secondary Color (Lighth Grey): #848484;
*/

* {
  box-sizing: border-box;
}

body {
padding-top: 56px;
background-color: Dark Grey;
font-family: 'Noto Sans JP', sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 1.6;
color: #848484;}
img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
a {
  color: #848484;
  text-decoration: none;
}
a:hover {
  color: #cc6540;
  text-decoration: underline;
}
a:visited {
  color: #848484;
}
a:active {
  color: #2B2A2A;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
/* Layout styling*/

.container {
  padding: 0 15px;
}
row {
  margin: 25px 0; /*25px top adn bottom, 0 left and right */
}
#work .row {padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;}
#hero h1 {
  text-align: center; /*centers text */
}
.center {
  text-align: center;
}
.logo {
  max-width: 150px;
  min-width: 641px;
}
header {
  background-color: #ffe4c4;
  padding: 10px 0 4px;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position:relative;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
color: #848484;
}
nav > ul > li > a:hover {
  color: #cc6540;
  text-decoration: underline;
}
nav > ul > li > a:active {
  color: #2B2A2A;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}
#hero {
  background-color: #ffe4c4;
}
#hero {
  text-align: center;
  background-color: #ffe4c4;
  padding: 99px 0;
  display: block;
  width: 100%;
}
#hero span {
  display: block;
}
#contact h2 {
  text-align: center; /*centers text */
}
.center {
  text-align: center;
}
footer {
  text-align: center;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
    nav > ul {
      margin: 1em 0;
    }
    nav > ul > li {
      display: inline-block;
    }
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
    .navtoggle li:last-child {
      display: none;
    }
    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }
  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
  .cloud-front {
    animation: 10s cloud-move infinite alternate linear;
  }
  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px,48px);}
  }
  .cloud-back {
    animation: 15s cloud-move-revese infinite alternate linear;
  }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
.column-lg-7 {
  width: 60%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
